extends layout

block content
  h1= title
  p  query: #{query.rows},#{query.cols}
  - var rows=Number(query.rows)
  - var cols=Number(query.cols)
  - if(!Number.isInteger(rows) || !Number.isInteger(cols)){
     p Not an Integer
  - }
  - else if(rows<1 || rows>10){
     p Rows should be in the range of 1 to 10
  - }
  - else if(cols<1 || cols>10){
     p Columns should be in the range of 1 to 10
  - }
  - else{
     table
      - for(let i=0; i<rows; i++) {
        tr#middle 
         - for(let j=0; j<cols; j++){
            td= (((j+1) -i) < 0 )?0:((j+1) -i)
         - }
      - }
  - }